.demandes-list {
  .search-wrap {
    min-width: 260px;
  }
}

:host ::ng-deep .filter-select {
  min-width: 220px;
}

:host ::ng-deep .demandes-table .p-datatable-thead > tr > th {
  background-color: #f5f6fa !important;
  border: none;
  font-size: 0.85rem;
  font-weight: 700;
  color: #2b2f38;
}

:host ::ng-deep .demandes-table .p-datatable-tbody > tr > td {
  border: none;
  vertical-align: middle;
}

:host ::ng-deep .demandes-table .p-paginator {
  border: none;
}

