  <div class="navbar-top d-flex flex-row align-items-center px-2 px-md-3 bg-white justify-content-between flex-nowrap">
    <a class="navbar-brand flex-shrink-0" href="javascript:(0)">
      <img src="assets/images/logo-arp.svg" alt="logo ARP" class="img-fluid logo-navbar">
    </a>
    <div class="navbar-top-actions d-flex flex-row gap-1 gap-md-2 align-items-center flex-shrink-0">
      <button class="button-text">Faire une demande</button>
      <button class="button-login" (click)="logIn()">Se connecter</button>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-success shadow-lg">
    <div class="container-fluid navbar-collapsed-end">
      <div class="navbar-toggler-row">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav1">
        <ul class="navbar-nav mx-auto gap-3">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="javascript:(0)">à propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="javascript:(0)">Missions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="javascript:(0)">Services</a>
          </li>
          <div class="dropdown">
            <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="javascript:(0)">Réglementation</a>
            <ul class="dropdown-menu">
                <li><a href="javascript:(0)" class="dropdown-item">Textes juridiques</a></li>
                <li><a href="javascript:(0)" class="dropdown-item">Lignes directives</a></li>
                <li><a href="javascript:(0)" class="dropdown-item">Formulaires</a></li>

            </ul>
          </div>
          <li class="nav-item dropdown">
            
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="javascript:(0)">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="javascript:(0)">Actualités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="javascript:(0)">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>