.box{
    background-color: #F9FAFB;
}
//icon de telechargement
.filebox{
    background-color: #F9FAFB;
    .icon-file-danger{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color-mix(in srgb, var(--danger-color) 10%, transparent);
        color: var(--danger-color);
        border-radius: 8px;
        font-size: x-large;
    }
    .icon-file-primary{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color-mix(in srgb, var(--secondary-color) 10%, transparent);
        color: var(--secondary-color);
        border-radius: 8px;
        font-size: x-large;
    }
    .download-icon{
        padding: 5;
        font-size: 16px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            border-radius: 8px;
            background-color: #ebebeb;
        }
    }
}

.participant-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: color-mix(in srgb, var(--secondary-color) 10%, transparent);
    color: var(--secondary-color);
}
.equipe-box{
    background-color: #F9FAFB;
    border-radius: 8px;
    display: block;
    align-items: center;
    justify-content: center;
}
// timeline historique
.timeline {
    position: relative;
    padding-left: 1.75rem;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 2.7rem;
    top: 0.25rem;
    bottom: 0.25rem;
    width: 2px;
    background-color: #E5E7EB;
}

.timeline-item {
    position: relative;
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.25rem;
}

.timeline-icon {
    width: 32px;
    height: 32px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-shrink: 0;
    // background-color: color-mix(in srgb, var(--orange-color) 10%,  transparent) !important;
    // color: var(--orange-color) !important;
}

.timeline-content {
    flex: 1;
}